In [1]:
#install the library yfinance

In [1]:
import pandas as pd
import sqlite3
import yfinance as yf

ModuleNotFoundError: No module named 'yfinance'

In [4]:
# create a sql connection and create the database stock

On cr√©e une table pour les prix

In [5]:
# create price table with the primary tuple keys ( date, ticker) and the columns, date, ticker, price
query1 = #YOUR CODE
c.execute(query1.replace('\n',' '))

In [6]:
# create volume table with the primary tuple keys ( date, ticker) and the columns, date, ticker, volume 
query2 = """CREATE TABLE IF NOT EXISTS volume (
Date TEXT NOT NULL,
ticker TEXT NOT NULL,
volume REAL,
PRIMARY KEY(Date, ticker)
)"""

In [8]:
# backtest inputs
bt_inputs = {'tickers': ['BA', 'UNH', 'MCD', 'HD'], #BA: Boeing, UNH: UnitedHealth, MCD: Mac Donalds, HD : HomeDepot
'start_date': '2019-01-01',
'end_date': '2021-06-01'}

In [9]:
def download(bt_inputs, proxy = None):
    data = yf.download(tickers= bt_inputs['tickers'],
                       start = bt_inputs['start_date'],   
                       end = bt_inputs['end_date'],
                       interval = '1d',
                       prepost = True,
                       threads = True,
                       proxy = proxy)
    return data

In [10]:
test = download(bt_inputs)

[*********************100%***********************]  4 of 4 completed

In [11]:
test

             Adj Close                                           Close  \
                    BA          HD         MCD         UNH          BA
Date
2019-01-02  314.645111  157.620941  161.283463  230.067444  323.809998
2019-01-03  302.100525  154.146881  160.220825  223.793472  310.899994
2019-01-04  317.822571  158.727127  163.317139  226.410782  327.079987
2019-01-07  318.823425  161.853760  165.094269  226.845444  328.109985
2019-01-08  330.891937  162.630859  165.442444  229.878448  340.529999
...                ...         ...         ...         ...         ...
2021-05-24  237.440002  304.545380  224.373581  402.787048  237.440002
2021-05-25  240.740005  306.392883  224.596100  404.845306  240.740005
2021-05-26  241.369995  306.953918  224.799255  405.002167  241.369995
2021-05-27  250.699997  308.346863  227.227692  404.502289  250.699997
2021-05-28  247.020004  308.482300  227.539017  403.737762  247.020004

                                                      High              ...  \
                    HD         MCD         UNH          BA          HD  ...
Date                                                                    ...
2019-01-02  172.410004  176.059998  243.490005  323.950012  173.179993  ...
2019-01-03  168.610001  174.899994  236.850006  319.739990  171.839996  ...
2019-01-04  173.619995  178.279999  239.619995  328.440002  174.740005  ...
2019-01-07  177.039993  180.220001  240.080002  330.690002  178.179993  ...
2019-01-08  177.889999  180.600006  243.289993  341.250000  179.589996  ...
...                ...         ...         ...         ...         ...  ...
2021-05-24  314.839996  231.910004  410.950012  238.500000  318.739990  ...
2021-05-25  316.750000  232.139999  413.049988  243.779999  317.100006  ...
2021-05-26  317.329987  232.350006  413.209991  242.490005  321.380005  ...
2021-05-27  318.769989  234.860001  412.700012  252.600006  320.410004  ...
2021-05-28  318.910004  233.889999  411.920013  248.979996  321.510010  ...

                   Low                    Open                          \
                   MCD         UNH          BA          HD         MCD
Date
2019-01-02  174.169998  241.470001  316.190002  169.710007  175.410004
2019-01-03  174.410004  236.130005  319.489990  171.839996  175.449997
2019-01-04  175.690002  238.800003  316.690002  170.179993  176.029999
2019-01-07  178.139999  238.229996  330.519989  173.830002  178.139999
2019-01-08  179.910004  239.710007  334.109985  178.570007  181.960007
...                ...         ...         ...         ...         ...
2021-05-24  231.020004  409.920013  235.139999  316.839996  231.520004
2021-05-25  230.710007  408.890015  240.000000  315.529999  232.169998
2021-05-26  232.160004  411.010010  241.699997  317.809998  233.789993
2021-05-27  232.399994  410.380005  248.110001  317.299988  233.009995
2021-05-28  232.449997  410.019989  247.479996  320.369995  234.130005

                          Volume
                   UNH        BA       HD      MCD      UNH
Date
2019-01-02  245.000000   3292200  4242900  2571500  4063600
2019-01-03  243.479996   5705600  4810500  3728200  4623200
2019-01-04  239.800003   4448800  4762600  3194300  5367600
2019-01-07  240.399994   4030300  4928800  3283000  4133000
2019-01-08  242.330002   4736500  4722400  2941400  3618600
...                ...       ...      ...      ...      ...
2021-05-24  412.369995  10106000  2930600  1823300  1883600
2021-05-25  411.850006  12908000  3523300  2681900  2285600
2021-05-26  412.100006   7240200  2881600  1564200  1903900
2021-05-27  414.920013  18404400  3734800  5242900  2041800
2021-05-28  412.700012  11197400  3194000  2853600  2367900

[607 rows x 24 columns]

In [12]:
test['Adj Close']

                    BA          HD         MCD         UNH
Date
2019-01-02  314.645111  157.620941  161.283463  230.067444
2019-01-03  302.100525  154.146881  160.220825  223.793472
2019-01-04  317.822571  158.727127  163.317139  226.410782
2019-01-07  318.823425  161.853760  165.094269  226.845444
2019-01-08  330.891937  162.630859  165.442444  229.878448
...                ...         ...         ...         ...
2021-05-24  237.440002  304.545380  224.373581  402.787048
2021-05-25  240.740005  306.392883  224.596100  404.845306
2021-05-26  241.369995  306.953918  224.799255  405.002167
2021-05-27  250.699997  308.346863  227.227692  404.502289
2021-05-28  247.020004  308.482300  227.539017  403.737762

[607 rows x 4 columns]

In [43]:
test['Volume']

                  BA       HD      MCD      UNH
Date
2019-01-02   3292200  4242900  2571500  4063600
2019-01-03   5705600  4810500  3728200  4623200
2019-01-04   4448800  4762600  3194300  5367600
2019-01-07   4030300  4928800  3283000  4133000
2019-01-08   4736500  4722400  2941400  3618600
...              ...      ...      ...      ...
2021-05-24  10106000  2930600  1823300  1883600
2021-05-25  12908000  3523300  2681900  2285600
2021-05-26   7240200  2881600  1564200  1903900
2021-05-27  18404400  3734800  5242900  2041800
2021-05-28  11197400  3194000  2853600  2367900

[607 rows x 4 columns]

In [13]:
adj_close = test['Adj Close']
volume = test['Volume']

In [14]:
adj_close.head()

                    BA          HD         MCD         UNH
Date
2019-01-02  314.645111  157.620941  161.283463  230.067444
2019-01-03  302.100525  154.146881  160.220825  223.793472
2019-01-04  317.822571  158.727127  163.317139  226.410782
2019-01-07  318.823425  161.853760  165.094269  226.845444
2019-01-08  330.891937  162.630859  165.442444  229.878448

In [15]:
# convert wide to long
adj_close_long = pd.melt(adj_close.reset_index(), id_vars='Date', value_vars=bt_inputs['tickers'], 
                         var_name ="ticker", value_name="price")
adj_close_long

           Date ticker       price
0    2019-01-02     BA  314.645111
1    2019-01-03     BA  302.100525
2    2019-01-04     BA  317.822571
3    2019-01-07     BA  318.823425
4    2019-01-08     BA  330.891937
...         ...    ...         ...
2423 2021-05-24     HD  304.545380
2424 2021-05-25     HD  306.392883
2425 2021-05-26     HD  306.953918
2426 2021-05-27     HD  308.346863
2427 2021-05-28     HD  308.482300

[2428 rows x 3 columns]

In [16]:
adj_close_long[0:607]

          Date ticker       price
0   2019-01-02     BA  314.645111
1   2019-01-03     BA  302.100525
2   2019-01-04     BA  317.822571
3   2019-01-07     BA  318.823425
4   2019-01-08     BA  330.891937
..         ...    ...         ...
602 2021-05-24     BA  237.440002
603 2021-05-25     BA  240.740005
604 2021-05-26     BA  241.369995
605 2021-05-27     BA  250.699997
606 2021-05-28     BA  247.020004

[607 rows x 3 columns]

In [17]:
adj_close_long[607:1215]

           Date ticker       price
607  2019-01-02    UNH  230.067444
608  2019-01-03    UNH  223.793472
609  2019-01-04    UNH  226.410782
610  2019-01-07    UNH  226.845444
611  2019-01-08    UNH  229.878448
...         ...    ...         ...
1210 2021-05-25    UNH  404.845306
1211 2021-05-26    UNH  405.002167
1212 2021-05-27    UNH  404.502289
1213 2021-05-28    UNH  403.737762
1214 2019-01-02    MCD  161.283463

[608 rows x 3 columns]

In [18]:
adj_close_long['ticker'].value_counts()

BA     607
UNH    607
MCD    607
HD     607
Name: ticker, dtype: int64

In [19]:
volume

                  BA       HD      MCD      UNH
Date
2019-01-02   3292200  4242900  2571500  4063600
2019-01-03   5705600  4810500  3728200  4623200
2019-01-04   4448800  4762600  3194300  5367600
2019-01-07   4030300  4928800  3283000  4133000
2019-01-08   4736500  4722400  2941400  3618600
...              ...      ...      ...      ...
2021-05-24  10106000  2930600  1823300  1883600
2021-05-25  12908000  3523300  2681900  2285600
2021-05-26   7240200  2881600  1564200  1903900
2021-05-27  18404400  3734800  5242900  2041800
2021-05-28  11197400  3194000  2853600  2367900

[607 rows x 4 columns]

In [20]:
#convert wide to long
volume_long = pd.melt(volume.reset_index(), id_vars='Date', value_vars=bt_inputs['tickers'], 
                      var_name = "ticker", value_name = "volume")
volume_long.head()

        Date ticker   volume
0 2019-01-02     BA  3292200
1 2019-01-03     BA  5705600
2 2019-01-04     BA  4448800
3 2019-01-07     BA  4030300
4 2019-01-08     BA  4736500

In [21]:
# insert a in sql table prices and volume
#YOUR CODE

In [22]:
select_tickers = bt_inputs['tickers']
select_tickers

['BA', 'UNH', 'MCD', 'HD']

In [24]:
start_date = bt_inputs['start_date']
start_date

'2019-01-01'

In [25]:
# inputs
select_tickers = bt_inputs['tickers']
start_date = bt_inputs['start_date']
end_date = bt_inputs['end_date']
# construct query: select the prices withe tickers in select_tickers 
#between start_date and end_date
query = #YOUR CODE
c.execute(query.replace('\n',' '))

In [26]:
#display the request
#YOUR CODE

[('2019-01-02 00:00:00', 'BA', 314.6451416015625),
 ('2019-01-02 00:00:00', 'HD', 157.6209259033203),
 ('2019-01-02 00:00:00', 'MCD', 161.28346252441406),
 ('2019-01-02 00:00:00', 'UNH', 230.0674285888672),
 ('2019-01-03 00:00:00', 'BA', 302.1005554199219),
 ('2019-01-03 00:00:00', 'HD', 154.1468963623047),
 ('2019-01-03 00:00:00', 'MCD', 160.2208251953125),
 ('2019-01-03 00:00:00', 'UNH', 223.79348754882812),
 ('2019-01-04 00:00:00', 'BA', 317.82257080078125),
 ('2019-01-04 00:00:00', 'HD', 158.7271270751953),
 ('2019-01-04 00:00:00', 'MCD', 163.317138671875),
 ('2019-01-04 00:00:00', 'UNH', 226.41078186035156),
 ('2019-01-07 00:00:00', 'BA', 318.8234558105469),
 ('2019-01-07 00:00:00', 'HD', 161.85372924804688),
 ('2019-01-07 00:00:00', 'MCD', 165.0943145751953),
 ('2019-01-07 00:00:00', 'UNH', 226.84539794921875),
 ('2019-01-08 00:00:00', 'BA', 330.89190673828125),
 ('2019-01-08 00:00:00', 'HD', 162.630859375),
 ('2019-01-08 00:00:00', 'MCD', 165.44239807128906),
 ('2019-01-08 00:00:00', 'UNH', 229.87847900390625),
 ('2019-01-09 00:00:00', 'BA', 334.0985107421875),
 ('2019-01-09 00:00:00', 'HD', 164.3130340576172),
 ('2019-01-09 00:00:00', 'MCD', 165.15843200683594),
 ('2019-01-09 00:00:00', 'UNH', 230.20916748046875),
 ('2019-01-10 00:00:00', 'BA', 342.6300048828125),
 ('2019-01-10 00:00:00', 'HD', 163.70050048828125),
 ('2019-01-10 00:00:00', 'MCD', 166.3126983642578),
 ('2019-01-10 00:00:00', 'UNH', 231.37132263183594),
 ('2019-01-11 00:00:00', 'BA', 342.91180419921875),
 ('2019-01-11 00:00:00', 'HD', 164.0205078125),
 ('2019-01-11 00:00:00', 'MCD', 167.06387329101562),
 ('2019-01-11 00:00:00', 'UNH', 234.0170135498047),
 ('2019-01-14 00:00:00', 'BA', 340.4436950683594),
 ('2019-01-14 00:00:00', 'HD', 163.47195434570312),
 ('2019-01-14 00:00:00', 'MCD', 166.01040649414062),
 ('2019-01-14 00:00:00', 'UNH', 234.3855438232422),
 ('2019-01-15 00:00:00', 'BA', 342.2704772949219),
 ('2019-01-15 00:00:00', 'HD', 161.33265686035156),
 ('2019-01-15 00:00:00', 'MCD', 165.82716369628906),
 ('2019-01-15 00:00:00', 'UNH', 242.70986938476562),
 ('2019-01-16 00:00:00', 'BA', 342.0956115722656),
 ('2019-01-16 00:00:00', 'HD', 161.85372924804688),
 ('2019-01-16 00:00:00', 'MCD', 164.2973175048828),
 ('2019-01-16 00:00:00', 'UNH', 247.04685974121094),
 ('2019-01-17 00:00:00', 'BA', 348.9266052246094),
 ('2019-01-17 00:00:00', 'HD', 159.86990356445312),
 ('2019-01-17 00:00:00', 'MCD', 165.9096221923828),
 ('2019-01-17 00:00:00', 'UNH', 245.44998168945312),
 ('2019-01-18 00:00:00', 'BA', 354.406982421875),
 ('2019-01-18 00:00:00', 'HD', 164.17591857910156),
 ('2019-01-18 00:00:00', 'MCD', 167.24710083007812),
 ('2019-01-18 00:00:00', 'UNH', 250.86410522460938),
 ('2019-01-22 00:00:00', 'BA', 347.770263671875),
 ('2019-01-22 00:00:00', 'HD', 161.9177703857422),
 ('2019-01-22 00:00:00', 'MCD', 169.0792236328125),
 ('2019-01-22 00:00:00', 'UNH', 251.043701171875),
 ('2019-01-23 00:00:00', 'BA', 348.4601745605469),
 ('2019-01-23 00:00:00', 'HD', 161.7166290283203),
 ('2019-01-23 00:00:00', 'MCD', 170.47164916992188),
 ('2019-01-23 00:00:00', 'UNH', 252.30030822753906),
 ('2019-01-24 00:00:00', 'BA', 348.1297912597656),
 ('2019-01-24 00:00:00', 'HD', 162.08233642578125),
 ('2019-01-24 00:00:00', 'MCD', 171.64422607421875),
 ('2019-01-24 00:00:00', 'UNH', 251.45938110351562),
 ('2019-01-25 00:00:00', 'BA', 353.8919677734375),
 ('2019-01-25 00:00:00', 'HD', 164.92559814453125),
 ('2019-01-25 00:00:00', 'MCD', 168.5570831298828),
 ('2019-01-25 00:00:00', 'UNH', 253.27352905273438),
 ('2019-01-28 00:00:00', 'BA', 352.69683837890625),
 ('2019-01-28 00:00:00', 'HD', 164.4044647216797),
 ('2019-01-28 00:00:00', 'MCD', 168.1906280517578),
 ('2019-01-28 00:00:00', 'UNH', 252.0641326904297),
 ('2019-01-29 00:00:00', 'BA', 354.5819091796875),
 ('2019-01-29 00:00:00', 'HD', 164.27645874023438),
 ('2019-01-29 00:00:00', 'MCD', 166.88064575195312),
 ('2019-01-29 00:00:00', 'UNH', 252.6027069091797),
 ('2019-01-30 00:00:00', 'BA', 376.7463073730469),
 ('2019-01-30 00:00:00', 'HD', 166.55288696289062),
 ('2019-01-30 00:00:00', 'MCD', 166.51422119140625),
 ('2019-01-30 00:00:00', 'UNH', 255.46566772460938),
 ('2019-01-31 00:00:00', 'BA', 374.70574951171875),
 ('2019-01-31 00:00:00', 'HD', 167.78707885742188),
 ('2019-01-31 00:00:00', 'MCD', 163.77517700195312),
 ('2019-01-31 00:00:00', 'UNH', 255.30506896972656),
 ('2019-02-01 00:00:00', 'BA', 376.4645080566406),
 ('2019-02-01 00:00:00', 'HD', 168.55502319335938),
 ('2019-02-01 00:00:00', 'MCD', 161.88803100585938),
 ('2019-02-01 00:00:00', 'UNH', 253.90664672851562),
 ('2019-02-04 00:00:00', 'BA', 385.7636413574219),
 ('2019-02-04 00:00:00', 'HD', 170.43832397460938),
 ('2019-02-04 00:00:00', 'MCD', 162.64840698242188),
 ('2019-02-04 00:00:00', 'UNH', 253.4247283935547),
 ('2019-02-05 00:00:00', 'BA', 398.57061767578125),
 ('2019-02-05 00:00:00', 'HD', 170.40171813964844),
 ('2019-02-05 00:00:00', 'MCD', 162.6667022705078),
 ('2019-02-05 00:00:00', 'UNH', 251.6295166015625),
 ('2019-02-06 00:00:00', 'BA', 399.4742431640625),
 ('2019-02-06 00:00:00', 'HD', 168.87498474121094),
 ('2019-02-06 00:00:00', 'MCD', 161.39337158203125),
 ('2019-02-06 00:00:00', 'UNH', 254.64366149902344),
 ('2019-02-07 00:00:00', 'BA', 395.6802673339844),
 ('2019-02-07 00:00:00', 'HD', 168.28079223632812),
 ('2019-02-07 00:00:00', 'MCD', 160.5688934326172),
 ('2019-02-07 00:00:00', 'UNH', 254.1712188720703),
 ('2019-02-08 00:00:00', 'BA', 395.4263610839844),
 ('2019-02-08 00:00:00', 'HD', 168.71043395996094),
 ('2019-02-08 00:00:00', 'MCD', 160.0833740234375),
 ('2019-02-08 00:00:00', 'UNH', 247.4625701904297),
 ('2019-02-11 00:00:00', 'BA', 394.4888610839844),
 ('2019-02-11 00:00:00', 'HD', 167.22938537597656),
 ('2019-02-11 00:00:00', 'MCD', 159.634521484375),
 ('2019-02-11 00:00:00', 'UNH', 242.9650115966797),
 ('2019-02-12 00:00:00', 'BA', 401.1003112792969),
 ('2019-02-12 00:00:00', 'HD', 169.6063690185547),
 ('2019-02-12 00:00:00', 'MCD', 159.36888122558594),
 ('2019-02-12 00:00:00', 'UNH', 248.97439575195312),
 ('2019-02-13 00:00:00', 'BA', 400.9635925292969),
 ('2019-02-13 00:00:00', 'HD', 172.2484588623047),
 ('2019-02-13 00:00:00', 'MCD', 159.53378295898438),
 ('2019-02-13 00:00:00', 'UNH', 249.25782775878906),
 ('2019-02-14 00:00:00', 'BA', 400.2213439941406),
 ('2019-02-14 00:00:00', 'HD', 171.60853576660156),
 ('2019-02-14 00:00:00', 'MCD', 161.10939025878906),
 ('2019-02-14 00:00:00', 'UNH', 250.70352172851562),
 ('2019-02-15 00:00:00', 'BA', 408.1805114746094),
 ('2019-02-15 00:00:00', 'HD', 175.88706970214844),
 ('2019-02-15 00:00:00', 'MCD', 164.8653106689453),
 ('2019-02-15 00:00:00', 'UNH', 256.1837463378906),
 ('2019-02-19 00:00:00', 'BA', 406.5105285644531),
 ('2019-02-19 00:00:00', 'HD', 175.83221435546875),
 ('2019-02-19 00:00:00', 'MCD', 164.20570373535156),
 ('2019-02-19 00:00:00', 'UNH', 255.5034637451172),
 ('2019-02-20 00:00:00', 'BA', 411.6766357421875),
 ('2019-02-20 00:00:00', 'HD', 175.39341735839844),
 ('2019-02-20 00:00:00', 'MCD', 165.34165954589844),
 ('2019-02-20 00:00:00', 'UNH', 254.6531524658203),
 ('2019-02-21 00:00:00', 'BA', 407.79962158203125),
 ('2019-02-21 00:00:00', 'HD', 175.36598205566406),
 ('2019-02-21 00:00:00', 'MCD', 167.46694946289062),
 ('2019-02-21 00:00:00', 'UNH', 251.7145538330078),
 ('2019-02-22 00:00:00', 'BA', 414.1180725097656),
 ('2019-02-22 00:00:00', 'HD', 175.88706970214844),
 ('2019-02-22 00:00:00', 'MCD', 167.7967071533203),
 ('2019-02-22 00:00:00', 'UNH', 252.38540649414062),
 ('2019-02-25 00:00:00', 'BA', 416.8720397949219),
 ('2019-02-25 00:00:00', 'HD', 173.68380737304688),
 ('2019-02-25 00:00:00', 'MCD', 167.28369140625),
 ('2019-02-25 00:00:00', 'UNH', 250.0137481689453),
 ('2019-02-26 00:00:00', 'BA', 416.77435302734375),
 ('2019-02-26 00:00:00', 'HD', 172.14791870117188),
 ('2019-02-26 00:00:00', 'MCD', 167.8333740234375),
 ('2019-02-26 00:00:00', 'UNH', 248.4830322265625),
 ('2019-02-27 00:00:00', 'BA', 425.2413024902344),
 ('2019-02-27 00:00:00', 'HD', 167.91506958007812),
 ('2019-02-27 00:00:00', 'MCD', 167.97079467773438),
 ('2019-02-27 00:00:00', 'UNH', 236.294189453125),
 ('2019-02-28 00:00:00', 'BA', 429.6554260253906),
 ('2019-02-28 00:00:00', 'HD', 169.2589569091797),
 ('2019-02-28 00:00:00', 'MCD', 169.48268127441406),
 ('2019-02-28 00:00:00', 'UNH', 228.867431640625),
 ('2019-03-01 00:00:00', 'BA', 430.29998779296875),
 ('2019-03-01 00:00:00', 'HD', 169.28639221191406),
 ('2019-03-01 00:00:00', 'MCD', 170.59823608398438),
 ('2019-03-01 00:00:00', 'UNH', 232.58079528808594),
 ('2019-03-04 00:00:00', 'BA', 422.55572509765625),
 ('2019-03-04 00:00:00', 'HD', 168.0430450439453),
 ('2019-03-04 00:00:00', 'MCD', 166.48651123046875),
 ('2019-03-04 00:00:00', 'UNH', 223.0092315673828),
 ('2019-03-05 00:00:00', 'BA', 420.0458984375),
 ('2019-03-05 00:00:00', 'HD', 168.2167510986328),
 ('2019-03-05 00:00:00', 'MCD', 167.18716430664062),
 ('2019-03-05 00:00:00', 'UNH', 228.1210174560547),
 ('2019-03-06 00:00:00', 'BA', 414.5184631347656),
 ('2019-03-06 00:00:00', 'HD', 168.62815856933594),
 ('2019-03-06 00:00:00', 'MCD', 167.8140869140625),
 ('2019-03-06 00:00:00', 'UNH', 225.89111328125),
 ('2019-03-07 00:00:00', 'BA', 412.6629638671875),
 ('2019-03-07 00:00:00', 'HD', 166.85458374023438),
 ('2019-03-07 00:00:00', 'MCD', 166.4219970703125),
 ('2019-03-07 00:00:00', 'UNH', 223.65176391601562),
 ('2019-03-08 00:00:00', 'BA', 412.6434631347656),
 ('2019-03-08 00:00:00', 'HD', 165.68434143066406),
 ('2019-03-08 00:00:00', 'MCD', 165.4816436767578),
 ('2019-03-08 00:00:00', 'UNH', 225.06500244140625),
 ('2019-03-11 00:00:00', 'BA', 390.6411437988281),
 ('2019-03-11 00:00:00', 'HD', 166.7905731201172),
 ('2019-03-11 00:00:00', 'MCD', 166.93826293945312),
 ('2019-03-11 00:00:00', 'UNH', 230.6230926513672),
 ('2019-03-12 00:00:00', 'BA', 366.6173095703125),
 ('2019-03-12 00:00:00', 'HD', 168.2167510986328),
 ('2019-03-12 00:00:00', 'MCD', 167.62966918945312),
 ('2019-03-12 00:00:00', 'UNH', 233.21243286132812),
 ('2019-03-13 00:00:00', 'BA', 368.30682373046875),
 ('2019-03-13 00:00:00', 'HD', 166.83522033691406),
 ('2019-03-13 00:00:00', 'MCD', 167.8417205810547),
 ('2019-03-13 00:00:00', 'UNH', 239.25425720214844),
 ('2019-03-14 00:00:00', 'BA', 364.55670166015625),
 ('2019-03-14 00:00:00', 'HD', 167.26809692382812),
 ('2019-03-14 00:00:00', 'MCD', 168.46861267089844),
 ('2019-03-14 00:00:00', 'UNH', 240.2217254638672),
 ('2019-03-15 00:00:00', 'BA', 370.1134338378906),
 ('2019-03-15 00:00:00', 'HD', 167.83912658691406),
 ('2019-03-15 00:00:00', 'MCD', 170.85633850097656),
 ('2019-03-15 00:00:00', 'UNH', 238.44802856445312),
 ('2019-03-18 00:00:00', 'BA', 363.5606384277344),
 ('2019-03-18 00:00:00', 'HD', 168.93516540527344),
 ('2019-03-18 00:00:00', 'MCD', 169.5841064453125),
 ('2019-03-18 00:00:00', 'UNH', 241.86256408691406),
 ('2019-03-19 00:00:00', 'BA', 364.6836853027344),
 ('2019-03-19 00:00:00', 'HD', 169.589111328125),
 ('2019-03-19 00:00:00', 'MCD', 168.80970764160156),
 ('2019-03-19 00:00:00', 'UNH', 243.88287353515625),
 ('2019-03-20 00:00:00', 'BA', 367.3497619628906),
 ('2019-03-20 00:00:00', 'HD', 171.40353393554688),
 ('2019-03-20 00:00:00', 'MCD', 170.52444458007812),
 ('2019-03-20 00:00:00', 'UNH', 237.5944366455078),
 ('2019-03-21 00:00:00', 'BA', 363.9707946777344),
 ('2019-03-21 00:00:00', 'HD', 174.96792602539062),
 ('2019-03-21 00:00:00', 'MCD', 171.8151092529297),
 ('2019-03-21 00:00:00', 'UNH', 239.03610229492188),
 ('2019-03-22 00:00:00', 'BA', 353.68743896484375),
 ('2019-03-22 00:00:00', 'HD', 173.84423828125),
 ('2019-03-22 00:00:00', 'MCD', 172.2207489013672),
 ('2019-03-22 00:00:00', 'UNH', 234.36009216308594),
 ('2019-03-25 00:00:00', 'BA', 361.783203125),
 ('2019-03-25 00:00:00', 'HD', 174.70079040527344),
 ('2019-03-25 00:00:00', 'MCD', 171.21588134765625),
 ('2019-03-25 00:00:00', 'UNH', 234.14193725585938),
 ('2019-03-26 00:00:00', 'BA', 361.7051086425781),
 ('2019-03-26 00:00:00', 'HD', 174.3876495361328),
 ('2019-03-26 00:00:00', 'MCD', 172.8384246826172),
 ('2019-03-26 00:00:00', 'UNH', 230.85069274902344),
 ('2019-03-27 00:00:00', 'BA', 365.4454040527344),
 ('2019-03-27 00:00:00', 'HD', 174.30477905273438),
 ('2019-03-27 00:00:00', 'MCD', 172.8660888671875),
 ('2019-03-27 00:00:00', 'UNH', 229.2572784423828),
 ('2019-03-28 00:00:00', 'BA', 365.6700439453125),
 ('2019-03-28 00:00:00', 'HD', 175.05076599121094),
 ('2019-03-28 00:00:00', 'MCD', 174.59925842285156),
 ('2019-03-28 00:00:00', 'UNH', 229.75048828125),
 ('2019-03-29 00:00:00', 'BA', 372.486572265625),
 ('2019-03-29 00:00:00', 'HD', 176.73626708984375),
 ('2019-03-29 00:00:00', 'MCD', 175.06942749023438),
 ('2019-03-29 00:00:00', 'UNH', 234.52133178710938),
 ('2019-04-01 00:00:00', 'BA', 382.3695373535156),
 ('2019-04-01 00:00:00', 'HD', 180.19012451171875),
 ('2019-04-01 00:00:00', 'MCD', 173.67738342285156),
 ('2019-04-01 00:00:00', 'UNH', 232.8899688720703),
 ('2019-04-02 00:00:00', 'BA', 381.5979919433594),
 ('2019-04-02 00:00:00', 'HD', 178.96517944335938),
 ('2019-04-02 00:00:00', 'MCD', 173.6405029296875),
 ('2019-04-02 00:00:00', 'UNH', 231.81817626953125),
 ('2019-04-03 00:00:00', 'BA', 375.728759765625),
 ('2019-04-03 00:00:00', 'HD', 182.92559814453125),
 ('2019-04-03 00:00:00', 'MCD', 173.6405029296875),
 ('2019-04-03 00:00:00', 'UNH', 233.17449951171875),
 ('2019-04-04 00:00:00', 'BA', 386.5883483886719),
 ('2019-04-04 00:00:00', 'HD', 184.6202850341797),
 ('2019-04-04 00:00:00', 'MCD', 175.04177856445312),
 ('2019-04-04 00:00:00', 'UNH', 234.6446533203125),
 ('2019-04-05 00:00:00', 'BA', 382.7503356933594),
 ('2019-04-05 00:00:00', 'HD', 186.1031494140625),
 ('2019-04-05 00:00:00', 'MCD', 175.81619262695312),
 ('2019-04-05 00:00:00', 'UNH', 235.96304321289062),
 ('2019-04-08 00:00:00', 'BA', 365.7481689453125),
 ('2019-04-08 00:00:00', 'HD', 187.4755096435547),
 ('2019-04-08 00:00:00', 'MCD', 175.0233612060547),
 ('2019-04-08 00:00:00', 'UNH', 235.93460083007812),
 ('2019-04-09 00:00:00', 'BA', 360.3965148925781),
 ('2019-04-09 00:00:00', 'HD', 185.0347900390625),
 ('2019-04-09 00:00:00', 'MCD', 175.23536682128906),
 ('2019-04-09 00:00:00', 'UNH', 235.9725341796875),
 ('2019-04-10 00:00:00', 'BA', 356.39251708984375),
 ('2019-04-10 00:00:00', 'HD', 183.68081665039062),
 ('2019-04-10 00:00:00', 'MCD', 174.4425506591797),
 ('2019-04-10 00:00:00', 'UNH', 233.35472106933594),
 ('2019-04-11 00:00:00', 'BA', 361.49029541015625),
 ('2019-04-11 00:00:00', 'HD', 185.56893920898438),
 ('2019-04-11 00:00:00', 'MCD', 174.1291046142578),
 ('2019-04-11 00:00:00', 'UNH', 223.29132080078125),
 ('2019-04-12 00:00:00', 'BA', 370.74822998046875),
 ('2019-04-12 00:00:00', 'HD', 187.75181579589844),
 ('2019-04-12 00:00:00', 'MCD', 176.6366729736328),
 ('2019-04-12 00:00:00', 'UNH', 211.71986389160156),
 ('2019-04-15 00:00:00', 'BA', 366.6661071777344),
 ('2019-04-15 00:00:00', 'HD', 188.68203735351562),
 ('2019-04-15 00:00:00', 'MCD', 176.86717224121094),
 ('2019-04-15 00:00:00', 'UNH', 218.3402557373047),
 ('2019-04-16 00:00:00', 'BA', 372.7795104980469),
 ('2019-04-16 00:00:00', 'HD', 188.3228302001953),
 ('2019-04-16 00:00:00', 'MCD', 176.72885131835938),
 ('2019-04-16 00:00:00', 'UNH', 209.5762939453125),
 ('2019-04-17 00:00:00', 'BA', 368.6778869628906),
 ('2019-04-17 00:00:00', 'HD', 190.2385711669922),
 ('2019-04-17 00:00:00', 'MCD', 176.64588928222656),
 ('2019-04-17 00:00:00', 'UNH', 205.66856384277344),
 ('2019-04-18 00:00:00', 'BA', 371.1681823730469),
 ('2019-04-18 00:00:00', 'HD', 189.4188232421875),
 ('2019-04-18 00:00:00', 'MCD', 179.6881866455078),
 ('2019-04-18 00:00:00', 'UNH', 210.3256072998047),
 ('2019-04-22 00:00:00', 'BA', 366.3829650878906),
 ('2019-04-22 00:00:00', 'HD', 188.60833740234375),
 ('2019-04-22 00:00:00', 'MCD', 178.77548217773438),
 ('2019-04-22 00:00:00', 'UNH', 215.40943908691406),
 ('2019-04-23 00:00:00', 'BA', 365.25982666015625),
 ('2019-04-23 00:00:00', 'HD', 189.77806091308594),
 ('2019-04-23 00:00:00', 'MCD', 180.0108642578125),
 ('2019-04-23 00:00:00', 'UNH', 218.70069885253906),
 ('2019-04-24 00:00:00', 'BA', 366.6661071777344),
 ('2019-04-24 00:00:00', 'HD', 190.39515686035156),
 ('2019-04-24 00:00:00', 'MCD', 182.1957550048828),
 ('2019-04-24 00:00:00', 'UNH', 218.48255920410156),
 ('2019-04-25 00:00:00', 'BA', 373.834228515625),
 ('2019-04-25 00:00:00', 'HD', 190.19252014160156),
 ('2019-04-25 00:00:00', 'MCD', 182.47230529785156),
 ('2019-04-25 00:00:00', 'UNH', 218.89984130859375),
 ('2019-04-26 00:00:00', 'BA', 371.87127685546875),
 ('2019-04-26 00:00:00', 'HD', 187.5307159423828),
 ('2019-04-26 00:00:00', 'MCD', 182.00213623046875),
 ('2019-04-26 00:00:00', 'UNH', 224.78993225097656),
 ('2019-04-29 00:00:00', 'BA', 370.17205810546875),
 ('2019-04-29 00:00:00', 'HD', 186.19525146484375),
 ('2019-04-29 00:00:00', 'MCD', 181.7255859375),
 ('2019-04-29 00:00:00', 'UNH', 225.2167205810547),
 ('2019-04-30 00:00:00', 'BA', 368.8439025878906),
 ('2019-04-30 00:00:00', 'HD', 187.61363220214844),
 ('2019-04-30 00:00:00', 'MCD', 182.14044189453125),
 ('2019-04-30 00:00:00', 'UNH', 221.06240844726562),
 ('2019-05-01 00:00:00', 'BA', 367.9747619628906),
 ('2019-05-01 00:00:00', 'HD', 183.10061645507812),
 ('2019-05-01 00:00:00', 'MCD', 179.00595092773438),
 ('2019-05-01 00:00:00', 'UNH', 220.00009155273438),
 ('2019-05-02 00:00:00', 'BA', 366.9981689453125),
 ('2019-05-02 00:00:00', 'HD', 185.1360626220703),
 ('2019-05-02 00:00:00', 'MCD', 179.41159057617188),
 ('2019-05-02 00:00:00', 'UNH', 220.47434997558594),
 ('2019-05-03 00:00:00', 'BA', 367.6427001953125),
 ('2019-05-03 00:00:00', 'HD', 184.72158813476562),
 ('2019-05-03 00:00:00', 'MCD', 182.09432983398438),
 ('2019-05-03 00:00:00', 'UNH', 220.00009155273438),
 ('2019-05-06 00:00:00', 'BA', 362.89654541015625),
 ('2019-05-06 00:00:00', 'HD', 183.8650665283203),
 ('2019-05-06 00:00:00', 'MCD', 183.3665771484375),
 ('2019-05-06 00:00:00', 'UNH', 228.10960388183594),
 ('2019-05-07 00:00:00', 'BA', 348.86309814453125),
 ('2019-05-07 00:00:00', 'HD', 179.38885498046875),
 ('2019-05-07 00:00:00', 'MCD', 182.57373046875),
 ('2019-05-07 00:00:00', 'UNH', 225.7858428955078),
 ('2019-05-08 00:00:00', 'BA', 351.3240661621094),
 ('2019-05-08 00:00:00', 'HD', 179.75723266601562),
 ('2019-05-08 00:00:00', 'MCD', 182.5644989013672),
 ('2019-05-08 00:00:00', 'UNH', 226.82916259765625),
 ('2019-05-09 00:00:00', 'BA', 347.82257080078125),
 ('2019-05-09 00:00:00', 'HD', 179.2138671875),
 ('2019-05-09 00:00:00', 'MCD', 182.28794860839844),
 ('2019-05-09 00:00:00', 'UNH', 225.70997619628906),
 ('2019-05-10 00:00:00', 'BA', 348.35296630859375),
 ('2019-05-10 00:00:00', 'HD', 179.2138671875),
 ('2019-05-10 00:00:00', 'MCD', 184.3714599609375),
 ('2019-05-10 00:00:00', 'UNH', 228.19496154785156),
 ('2019-05-13 00:00:00', 'BA', 331.361083984375),
 ('2019-05-13 00:00:00', 'HD', 175.30868530273438),
 ('2019-05-13 00:00:00', 'MCD', 183.48643493652344),
 ('2019-05-13 00:00:00', 'UNH', 227.2085418701172),
 ('2019-05-14 00:00:00', 'BA', 336.93011474609375),
 ('2019-05-14 00:00:00', 'HD', 176.4876251220703),
 ('2019-05-14 00:00:00', 'MCD', 182.5460662841797),
 ('2019-05-14 00:00:00', 'UNH', 224.24928283691406),
 ('2019-05-15 00:00:00', 'BA', 339.48382568359375),
 ('2019-05-15 00:00:00', 'HD', 176.6165313720703),
 ('2019-05-15 00:00:00', 'MCD', 183.52330017089844),
 ('2019-05-15 00:00:00', 'UNH', 223.9173583984375),
 ('2019-05-16 00:00:00', 'BA', 347.5082702636719),
 ('2019-05-16 00:00:00', 'HD', 177.1876220703125),
 ('2019-05-16 00:00:00', 'MCD', 184.3714599609375),
 ('2019-05-16 00:00:00', 'UNH', 224.59075927734375),
 ('2019-05-17 00:00:00', 'BA', 348.69671630859375),
 ('2019-05-17 00:00:00', 'HD', 177.37181091308594),
 ('2019-05-17 00:00:00', 'MCD', 183.66159057617188),
 ('2019-05-17 00:00:00', 'UNH', 228.9442901611328),
 ('2019-05-20 00:00:00', 'BA', 346.5064697265625),
 ('2019-05-20 00:00:00', 'HD', 175.8704833984375),
 ('2019-05-20 00:00:00', 'MCD', 183.44952392578125),
 ('2019-05-20 00:00:00', 'UNH', 233.3167724609375),
 ('2019-05-21 00:00:00', 'BA', 352.36029052734375),

In [27]:
#store the results of the request in a  dataframe result
result

                     Date ticker       price
0     2019-01-02 00:00:00     BA  314.645142
1     2019-01-02 00:00:00     HD  157.620926
2     2019-01-02 00:00:00    MCD  161.283463
3     2019-01-02 00:00:00    UNH  230.067429
4     2019-01-03 00:00:00     BA  302.100555
...                   ...    ...         ...
2423  2021-05-27 00:00:00    UNH  404.502289
2424  2021-05-28 00:00:00     BA  247.020004
2425  2021-05-28 00:00:00     HD  308.482269
2426  2021-05-28 00:00:00    MCD  227.539001
2427  2021-05-28 00:00:00    UNH  403.737823

[2428 rows x 3 columns]